* {
    /*as different tags has differnt margin and padding , remove all */
    padding: 0;
    margin : 0;
    box-sizing : border-box;
}

/*change the font of whole body*/
body {
   font-family : "Baskerville Old Face" , "sans-serif";
}

/*size of wrapper box full size and background color */
.wrapper {
    width : 100vw;
    height: 100vh;
    background: #0b7eaf;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scoreboard {
    padding : 20px;
    width : 700px;
    border : 5px solid black;
    border-radius : 10px;
    margin-top: 50px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.score {
    width : 150px;
    height : 114px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items : center;
}
.score h1 {
    color : #0e0303;
    font-size : 56px;
}

.score p {
    color : dodgerblue;
    font-size : 21px;
    font-weight : 600;
    line-height : 19px;
    letter-spacing: 3px;
}

.hands {
    background-image: url("./images/triangle.png") ;
    background-repeat: no-repeat;
    background-position: center;
    width : 476px;
    height : 430px;
    display:flex;
    flex-wrap : wrap;
    justify-content : space-around;
    margin-top : 100px;

}
.hands .hand {
    cursor : pointer;
    transition: all 0.25s;
}

.hands .hand:hover{
    transform : translate3d(0px,-8px,0px);;
}

.contest {
    width : 900px;
    display : flex;
    margin-top : 50px;
}
.contest img {
    width : 275px;
    height : 275px;
}

.contest > div {
    flex : 1;
}
.contest h1 {
    color : white;
    font-size : 20px;
}
